::-webkit-scrollbar-track {
  background-color: $contact-us-color;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: $contact-us-color;
}

::-webkit-scrollbar-thumb {
  background-color: $main-text-color;
}
