@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin contentPaddingInline() {
  padding-inline: 20px;

  @include onTablet() {
    padding-inline: 72px;
  }

  @include onDesktop() {
    padding-inline: 120px;
    max-width: 1020px;
    margin-inline: auto;
  }
}

.container {
  @include contentPaddingInline;
}

@mixin hover ($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin pageGrid {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 6;
    column-gap: 24px;
  }

  @include onDesktop {
    --columns: 12;
  }
}

@mixin contactGrid {
  --columns: 1;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 2;
    column-gap: 24px;
  }

  @include onDesktop {
    --columns: 2;
    column-gap: 150px;
  }
}

@mixin button {
  @include hover(transform, scale(1.05));
  height: 56px;
  cursor: pointer;
  border-radius: 40px;
  border: 3px solid $main-text-color;
  background-color: $main-text-color;
  font-size: 16px;
  font-weight: 700;
  color: $main-accent-color;

  &:hover {
    background-color: $main-accent-color;
    color: $main-text-color;
  }

  &:active {
    background-color: $main-text-color;
    color: $main-accent-color;
  }
}
